{# templates/emails/reset_password.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block content %}
	<h1>{{ 'reset_password_title'|trans }}</h1>
	<p>{{ 'reset_password_message'|trans }}<a href="{{reset_password_link}}">{{reset_password_link}}</a></p>
{% endblock %}
