{# templates/emails/verify_email.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block content %}
	<h1>{{ 'update_email_title'|trans }}</h1>
	<p>{{ 'update_email_message'|trans }}</p>
{% endblock %}
